@import url("https://use.typekit.net/mic1mjd.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  height: 100vh;
  line-height: 1;
}
html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #C0C0C4;
  /* background-color: #090B1B; */
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.active {
  color: #647BFF
}
body .portfolio {
  position: relative;
  background-color: red;
}
